@using Booki.Models;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Booki</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/CustomJS")

    @Styles.Render("~/Content/css")

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
    <style>
        .navbar-brand {
            color: red !important;
        }
    </style>

    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="@Url.Action("Index", "Home")">Booki - Reservas Online</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="@Url.Action("Index", "Home")">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("SearchDestinos", "Reservas", new { dataInicio = DateTime.Today, dataFim = DateTime.Today.AddDays(1), localizacao = ""})">Reservar Hoteis</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Contact", "Home")">Reservar Voos</a>
                </li>
            </ul>
            <ul class="navbar-nav float-right ml-auto">
                @if (ViewBag.LoggedIn == true)
                {
                    var userLogin = (LoginModel)HttpContext.Current.Session["SessionUtilizador"];

                    <li class="nav-item dropdown li-user">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            @userLogin.Nome
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="@Url.Action("VerReservasUtilizador", "Reservas")">Ver Reservas</a>
                            <a class="dropdown-item" href="@Url.Action("EditarPerfil", "ControloAcessos")">Editar perfil</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Logout", "ControloAcessos")">Sair</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Login", "ControloAcessos")">Entrar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Registo", "ControloAcessos")">Registar</a>
                    </li>
                }
            </ul>
        </div>
    </nav>

    <div class="container-fluid body-content">
        @RenderBody()
        <footer>
            <hr />
            <p>&copy; @DateTime.Now.Year - Booki Reservas online</p>
        </footer>
    </div>

    <div class="alert" id="notif_content">
        <div class="content">

        </div>
    </div>

    @RenderSection("scripts", required: false)

    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
</body>
</html>
